include COPYING
include COPYING.LESSER

include README.ipynb

include VERSION
include requirements.txt
include requirements.*.txt

include zetuprc

recursive-include zetup/commands/make/templates *.jinja

include scripts/zetup

recursive-include test/ *.py

include tox.ini
include .travis.yml
