include COPYING
include COPYING.LESSER

include README.ipynb
include README.md
include README.rst

include VERSION
include requirements.txt
include requirements.*.txt

include zetuprc

recursive-include zetup/commands/make/templates *.jinja

recursive-include test *.py

include tox.ini

exclude .hg*
exclude *.yml
